/node_modules
/src
/test
/temp
/public
/**/*.test.tsx
/**/*.spec.tsx
/.git
/.github
/.env
./babel.config.js
./rollup.config.js
./tsconfig.json
./postcss.config.js
./tailwind.config.js
./.prettierrc
./pnpm-lock.yaml
