.am_table__body--cell:has(.am_input__time--input) {
  padding: 0;
  direction: ltr;
}

.am_input__time--input {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.am_input__time--picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.am_input--time .am_input__time--input {
}
