@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --am__table-color: rgb(198, 61, 47);
  --am__table-hover-color: rgba(198, 61, 47, .15);
  --am__table-focus-color: rgba(198, 61, 47, .3);
  --am__table-selected-color: rgba(198, 61, 47, .4);
  --am__table-resize-handle-color: white;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.am_table__container * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.am_table__container.am_rtl {
  direction: rtl;
}
.am_table__container input ,.am_table__container fieldset,
.am_table__container input:focus,
.am_table__container fieldset:focus,
.am_table__container input:active,
.am_table__container fieldset:active {
  border: none;
  outline: none;
}
.am_table__container .am_table__wrapper {
  overflow: scroll; /* Clip content outside the rounded corners */
  border-radius: 7.5px;
  border: 1px solid var(--am__table-color);
}

.am_table__container .am_table__body--row *::selection {
  background-color: var(--am__table-hover-color);
  color: var(--am__table-color);
}

.am_table__container .am_table__body--row {
  cursor: default;
}

.am_table__container .am_table__wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.am_table__container .am_table__table {
  border-collapse: collapse; /* Merge cell borders */
  width: 100%;
}

.am_table__header--cell.am_table__header__cell--root {
  cursor: pointer;
}

.am_table__header--cell.am_table__header__cell--root {
  text-align: center;
  padding: 6px;
  border: 1px solid var(--am__table-color); /* Border for cells */
  border-bottom: none;
}
.am_table__body--cell.am_table__body__cell--root {
  position: relative;
  text-align: center;
  border: 1px solid var(--am__table-color); /* Border for cells */
  border-bottom: none;
}

.am_rtl .am_table__header--cell.am_table__header__cell--root:first-child {
  border-right: none !important;
}
.am_table__header--cell.am_table__header__cell--root:first-child {
  border-left: none !important;
}

.am_table__header .am_table__header--row .am_table__header--cell.am_table__header__cell--root {
  border-top: none;
  background-color: var(--am__table-color);
  border-color: white;
  color: white;
}

.am_table__header--cell.am_table__header__cell--root:last-child {
  border-right: none;
}
.am_rtl .am_table__header--cell.am_table__header__cell--root:first-child {
  border-left: none;
}

.am_table__body--cell.am_table__body__cell--root {
  width: 100%;
}

.am_rtl .am_table__header--row .am_table__header--cell.am_table__header__cell--root:first-child {
  border-right: 1px solid var(--am__table-color);
  border-left: 1px solid white;
}
.am_rtl .am_table__header--row .am_table__header--cell.am_table__header__cell--root:last-child {
  border-left: 1px solid var(--am__table-color);
}

.am_table__header--row .am_table__header--cell.am_table__header__cell--root:first-child {
  border-left: 1px solid var(--am__table-color);
  border-right: 1px solid white;
}
.am_table__header--row .am_table__header--cell.am_table__header__cell--root:last-child {
  border-right: 1px solid var(--am__table-color);
}

.am_rtl .am_table__footer--row .am_table__footer--cell.am_table__footer__cell--root:first-child {
  border-left: 1px solid var(--am__table-color);
  border-right: 1px solid white;
}
.am_rtl .am_table__footer--row .am_table__footer--cell.am_table__footer__cell--root:last-child {
  border-right: 1px solid var(--am__table-color);
}

.am_table__footer--row .am_table__footer--cell.am_table__footer__cell--root:first-child {
  border-right: 1px solid var(--am__table-color);
  border-left: 1px solid white;
}
.am_table__footer--row .am_table__footer--cell.am_table__footer__cell--root:last-child {
  border-left: 1px solid var(--am__table-color);
}

.am_rtl .am_table__body--row .am_table__body--cell.am_table__body__cell--root:first-child {
  border-right: none;
}
.am_rtl .am_table__body--row .am_table__body--cell.am_table__body__cell--root:last-child {
  border-left: none;
}
.am_table__body--row .am_table__body--cell.am_table__body__cell--root:first-child {
  border-left: none;
}
.am_table__body--row .am_table__body--cell.am_table__body__cell--root:last-child {
  border-right: none;
}

.am_table__body--row:not(:first-child) {
  border-top: 1px solid var(--am__table-color); /* Border for rows */
}
.am_table__header--row:not(:first-child) {
  border-top: 1px solid var(--am__table-color); /* Border for rows */
}
.am_table__footer--row:not(:first-child) {
  border-top: 1px solid var(--am__table-color); /* Border for rows */
}

.am_table__container .am_table__wrapper .am_table__table {
  border: none; /* Remove border from the whole table */
}

.am_table__header--cell {
  position: relative;
}

.am_table__header--cell.am_table__header__cell--root {
  width: 100%;
  text-align: center;
  position: relative;
}

.am_table__header__cell--resize-handle.am_table__header__cell__resize-handle--root {
  cursor: col-resize;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: transparent;
}

.am_table__header__cell--resize-handle.am_table__header__cell__resize-handle--root:hover {
  background-color: var(--am__table-resize-handle-color);
}

.am_table__body--row:hover {
  background-color: var(--am__table-hover-color);
}

.am_table__body--row.am_table__body__row--clickable:hover {
  cursor: pointer;
}

.am_table__body .am_table__body--row.am_table__body__row--selectable:hover {
  cursor: pointer;
}

.am_table__body .am_table__body--row.am_table__body__row--selectable.am_table__body__row--selected {
  background-color: var(--am__table-selected-color);
}

.am_table__header--cell .am_table__header__cell--content {
  font-weight: bold;
  color: white;
  padding: 0 10px;
}
.am_table__header--cell .am_table__header__cell--sort-btn {
  color: white;
  padding: 2px;
  border-radius: 100%;
}

.am_input--checkbox.am_input__checkbox--root {
  color: var(--am__table-color);
  padding: 2px;
}

.am_input__checkbox--check {
  @apply am__rounded-[4px] am__w-full am__h-full am__border am__border-solid;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  padding: 2px;
  background-color: white;
  border-color: var(--am__table-color);
}

.am_input__checkbox--check .am_input__checkbox__check--inner {
  @apply am__w-full am__h-full am__rounded-[2px];
}

.am_input__checkbox--checked .am_input__checkbox__check--inner {
  background-color: var(--am__table-color);
}

.am_input__checkbox--check .am_input__checkbox__check--inner:hover {
  background-color: var(--am__table-focus-color);
}

.am_table__header--cell .am_input__checkbox--check {
  color: white;
}

.am_table__body--cell .am_input__checkbox--check:hover {
  background-color: var(--am__table-hover-color);
}

.am_table__header__cell--row-number,
.am_table__body__cell--row-number {
  font-size: 14px;
  width: fit-content !important;
  min-width: fit-content !important;
  max-width: fit-content !important;
}

.am_table__body__cell--root .am_table__body__cell--row-number {
  font-size: 14px;
}
.am_table__header__cell--checkbox,
.am_table__body__cell--checkbox {
  width: fit-content !important;
  min-width: fit-content !important;
  max-width: fit-content !important;
}
.am_table__body__cell--checkbox .am_table__body__cell__checkbox--root {
  text-align: center;
}

.am_table__header__cell--sort-btn {
  position: absolute;
  left: 0;
  margin-top: -2px;
  @apply am__top-1/2 am__-translate-y-1/2;
}
.am_table__header__cell--sort-btn .am_table__header__cell__sort-btn--arrows {}
.am_table__body__cell--editable {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
