:root {
  --am__table-color: rgb(198, 61, 47);
  --am__table-hover-color: rgba(198, 61, 47, .15);
  --am__table-selected-color: rgba(198, 61, 47, .4);
  --am__table-resize-handle-color: white;
}

html {
  direction: rtl;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.am_table__container .am_table__wrapper {
  overflow: scroll; /* Clip content outside the rounded corners */
  border-radius: 7.5px;
  border: 1px solid var(--am__table-color);
}

.am_table__container .am_table__body--row *::selection {
  background-color: var(--am__table-hover-color);
  color: var(--am__table-color);
}

.am_table__container .am_table__body--row {
  cursor: default;
}

.am_table__container .am_table__wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.am_table__container .am_table__table {
  border-collapse: collapse; /* Merge cell borders */
  width: 100%;
}

.am_table__header--cell.am_table__header__cell--root {
  cursor: default;
}

.am_table__header--cell.am_table__header__cell--root, .am_table__body--cell.am_table__body__cell--root {
  text-align: center;
  padding: 8px;
  border: 1px solid var(--am__table-color); /* Border for cells */
  border-bottom: none;
}

.am_table__header--cell.am_table__header__cell--root:first-child {
  border-left: none;
}

.am_table__header .am_table__header--row .am_table__header--cell.am_table__header__cell--root {
  border-top: none;
  background-color: var(--am__table-color);
  border-color: white;
  color: white;
}

.am_table__header--cell.am_table__header__cell--root:last-child {
  border-right: none;
}

.am_table__body--cell.am_table__body__cell--root {
  color: black;
}

.am_table__header--row .am_table__header--cell.am_table__header__cell--root:first-child {
  border-right: 1px solid var(--am__table-color);
  border-left: 1px solid white;
}
.am_table__header--row .am_table__header--cell.am_table__header__cell--root:last-child {
  border-left: 1px solid var(--am__table-color);
}

.am_table__footer--row .am_table__footer--cell.am_table__footer__cell--root:first-child {
  border-right: 1px solid var(--am__table-color);
  border-left: 1px solid white;
}
.am_table__footer--row .am_table__footer--cell.am_table__footer__cell--root:last-child {
  border-left: 1px solid var(--am__table-color);
}

.am_table__body--row .am_table__body--cell.am_table__body__cell--root:first-child {
  border-right: none;
}
.am_table__body--row .am_table__body--cell.am_table__body__cell--root:last-child {
  border-left: none;
}

.am_table__body--row:not(:first-child) {
  border-top: 1px solid var(--am__table-color); /* Border for rows */
}
.am_table__header--row:not(:first-child) {
  border-top: 1px solid var(--am__table-color); /* Border for rows */
}
.am_table__footer--row:not(:first-child) {
  border-top: 1px solid var(--am__table-color); /* Border for rows */
}

.am_table__container .am_table__wrapper .am_table__table {
  border: none; /* Remove border from the whole table */
}

.am_table__header--cell {
  position: relative;
}

.am_table__header--cell.am_table__header__cell--root {
  position: relative;
}

.am_table__header__cell--resize-handle.am_table__header__cell__resize-handle--root {
  cursor: col-resize;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: transparent;
}

.am_table__header__cell--resize-handle.am_table__header__cell__resize-handle--root:hover {
  background-color: var(--am__table-resize-handle-color);
}

.am_table__body--row:hover {
  background-color: var(--am__table-hover-color);
}

.am_table__body--row.am_table__body__row--clickable:hover {
  cursor: pointer;
}

.am_table__body .am_table__body--row.am_table__body__row--selectable:hover {
  cursor: pointer;
}

.am_table__body .am_table__body--row.am_table__body__row--selectable.am_table__body__row--selected {
  background-color: var(--am__table-selected-color);
}

.am_table__header--cell .am_table__header__cell--content {
  color: white;
  padding: 0 10px;
}
.am_table__header--cell .am_table__header__cell--sort-btn {
  color: white;
  padding: 4px;
  border-radius: 100%;
}

.am_table__body--row:hover {
  background-color: rgba(230,233,241,.7);
}

.am_table__body--row.am_table__body__row--clickable:hover {
  cursor: pointer;
}

.am_table__body--row.am_table__body__row--selectable:hover {
  cursor: pointer;
}
